{% extends "admin/admin_area.html" %}
{% block admin_content %}

<h3>List of all {{ items }}</h3>

{% for product in products %}
        <div class="product_styling">
            <div class="flex_child">
                <a href="{{ url_for('product', product_id=product.id) }}">
                    <img class="product_img" src="{{ url_for('static', filename='img/products/' + product.feature_image + '.jpg') }}">
                </a>
            </div>
            <div class="flex_child">
                <p>
                    {% if product.user == current_user %}
                        <a class="product_link" href="{{ url_for('update_product', product_id=product.id) }}">Update now</a>
                        <!-- <button type="button">Delete</button> -->
                    </br>
                    </br>
                    {% endif %}

                    <a class="product_heading" href="{{ url_for('product', product_id=product.id) }}">{{ product.title.capitalize() }}</a>
                    <a class="product_heading" href="{{ url_for('product', product_id=product.id) }}">
                        <span class="product_link" style="padding-left: 10px;">£{{ "%.2f"|format(product.price) }}</span>
                    </a>
                    <br>

                    {% if product.pop_number > 0 %}
                        <br>
                        Pop No. {{ product.pop_number }}
                    {% endif %}
                    <br>
                    Remaining Stock: {{ product.stock }}
                </p>
                <p>{{ product.short_description }}</p>
            </div>
        </div>

{% endfor %}

{% endblock %}